body {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-image: url('../images/listeninghistorybg.png');
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

ul {
    display: inline;
    list-style: none;
}

li {
    float: left;
    padding: 40px;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
    padding: 8px;
}

a:active {
    text-decoration: underline;
}

#navbar {
    background-color: #FFF9F0;
}

.makeDisappear {
    display: none;
}

.showMenu {
    display: block;
}


#hamburger_icon_no_navbar {
    position: absolute;
    left: 40px;
    top: 45px;
}