.album {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  max-width: 50%;
  max-height: 50%;
}

#middle-left-button {
  position: absolute;
  left: 25%;
  top: 40%;
  transform: translateX(50%);
}

#middle-right-button {
  position: absolute;
  right: 25%;
  top: 40%;
  transform: translateX(-50%);
}

#play-button {
  position: absolute;
  transform: translate(-50%, -65%);
  top: 50%;
  left: 50%;
  opacity: 50%;
}

.marquee {
  position: absolute;
  align-self: center;
  width: 800px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.marquee::before, .marquee::after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  content: "";
  pointer-events: none;
}
.marquee::before {
  left: 0;
  background: linear-gradient(to right, #FFFBF6 0%, transparent 100%);
}
.marquee::after {
  right: 0;
  background: linear-gradient(to left, #FFFBF6 0%, transparent 100%);
}
.marqueeText {
  position: relative;
  text-align: center;
  width: fit-content;
  min-width: calc(100% - 100px);
  white-space: nowrap;
  animation: marquee 8s linear infinite alternate;
  transform: translateX(50px);
}
.marqueeText:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(50px);
  }
  15% {
    transform: translateX(50px);
  }
  95% {
    transform: translateX(calc(-100% + min(calc(800px - 50px), calc(100% + 50px))));
  }
  100% {
    transform: translateX(calc(-100% + min(calc(800px - 50px), calc(100% + 50px))));
  }
}

#title {
  top: 75%;
}
#title div {
  font-size: 50px;
}

#artist {
  top: 85%;
}
#artist div {
  font-size: 30px;
}