.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  padding: 10px;
}

.album {
  max-height: 500px;
  max-width: 450px;
  padding: 20px;
  border: black;
  border-radius: 5%;
}

.skip-button {
  max-height: 60px;
  max-width: 60px;
}

#play-button {
  left: 50vw;
  transform: translate(-50%, -50%);
  opacity: 50%;
}

.artist {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.smileyface {
  height: 70px;
  width: 70px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.icon:hover {
  opacity: 70%;
  cursor: pointer;
}

.icon {
  height: 30px;
  width: 30px;
}

.music-icon {
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #FFFBF6;
  color: black;
  padding: 3px;
  font-size: 15px;
  cursor: pointer;
  border-width:0.03cm;
  border-color: black;
  border-radius: 25px;
  width: 200px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #FFFBF6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #6C8E8E;
  color:white;
}

#arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}

.marquee {
  min-width: 100vw;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.marquee::before, .marquee::after {
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  content: "";
  pointer-events: none;
}
.marquee::before {
  left: 0;
  background: linear-gradient(to right, #fffbf6 0%, transparent 100%);
}
.marquee::after {
  right: 0;
  background: linear-gradient(to left, #fffbf6 0%, transparent 100%);
}
.marquee div {
  position: relative;
  text-align: center;
  width: fit-content;
  min-width: calc(100% - 100px);
  white-space: nowrap;
  animation: marquee 8s linear infinite alternate;
  transform: translateX(50px);
}
.marquee div:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(50px);
  }
  15% {
    transform: translateX(50px);
  }
  95% {
    transform: translateX(calc(-100% + calc(min(800px, 100vw) - 50px)));
  }
  100% {
    transform: translateX(calc(-100% + calc(min(800px, 100vw) - 50px)));
  }
}