.btn-square {
    width: 80px;
    height: 80px;
  }

.play-container {
    position: absolute;
    left: 10%;
    bottom: 10%;
    white-space: nowrap;
    /* transform: translateX(50%); */
    
}

.title {
    position: absolute;
    padding-left: 50%;
    /* padding-bottom: 50%; */
    left: 50%;
}

.btn {
  width: 200px;
  padding-right: 20px;
  text-align: right;
}

#playlist1 {
    background-color: aqua;
    text-align: right;
}

#playlist2 {
    background-color: crimson;
    text-align: right;
}

#new-playlist {
    text-align: right;
}

#plus {
    max-width: 100%;
    max-height: 100%;
}

.col-md-3 {
    padding-top: 20%;
}

#songs {
    display: flex;
    flex-direction: column;
    justify-content: right;
    transform: translate(65%,250%);
    align-items: right;
    /* display: block; */
    overflow:auto;
    float: right;
}

.play-song:hover {
    opacity: 50%;
}