.btn-square {
    width: 80px;
    height: 80px;
}

.play-container {
    position: absolute;
    left: 10%;
    bottom: 10%;
    white-space: nowrap;
    
}

.title {
    position: absolute;
    padding-left: 50%;
    left: 50%;
}

.btn {
  width: 75px;
  /* padding-right: 20px; */
  text-align: right;
}

#playlist1 {
    background-color: #00ffffcc;    /* '...cc' suffix = 80% opacity */
    text-align: right;

}

#playlist2 {
    background-color: #dc143ccc;    /* '...cc' suffix = 80% opacity */
    text-align: right;
}

#new-playlist {
    text-align: right;
}

#plus {
    max-width: 100%;
    max-height: 100%;
}

.col-md-3 {
    padding-top: 20%;
}


#songs {
    position: absolute;
    top: 50%;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-y: auto;
    max-height: 100vh;
}

.play-song:hover {
    opacity: 50%;
}

#buttons {
    position: absolute;
    top: 40%;
    right: 20%;
}

#custom-Range {
    width: 200px;
    height: auto;
}

.extra-buttons:hover {
    opacity: 50%;
}

.extra-buttons {
    /* left: 0%; */
    width: 70px; /* Adjust the width of the button */
    border: none; /* Remove the border around the button */
    background: none; /* Remove the background color of the button */
}

.extra-buttons img {
    width: 25px; /* Adjust the width of the image to make it bigger */
    height: 25px; /* Adjust the height of the image to make it bigger */
}

.form-range {
    padding-right: 65px;
}